<div class="span8 offset2">
<h3>개신닷컴은 무슨 사이트인가요?</h3>
	<p>
	희안하게 개발을 하다보니 이런 저런 질문들이나 요청들이 많아서 그런 것들을 그냥 한군데 모아놓는 그런 사이트입니다. 제가 워낙 바쁘거든요.(사실 백수가 세상에서 가장 바쁩니다.)
	사실은 기억력이 나뻐서 어딘가 모아서 정리해 두는 것을 좋아합니다. 그래서 매일 하는 삽질들을 찾아보기 쉽게 한군데 모아놓고도 싶고, 있어보이게 포장하고도 좀 싶고, 뭐 그런 곳입니다.
	</p>

<h3>이름이 왜 '개신'인가요? 개발의 신 뭐 이런건가요?</h3>
	<p>
	사실 이 사이트의 이름은 많이 바뀌었습니다. 야매개발, 신속개발 등등.. domain을 찾던중에 gaesin.com이 남아있더라구요, 아시는 분은 아시겠지만 숫자업이 영문 6자 닷컴 도메인은
	거의 찾아보기 힘듭니다. 9,900원으로 질렀습니다. (도메인 모으는 취미가 있습니다.) 그래서 개신이 되었습니다. 개발의 신 이런건 너무 무섭고, 그나마 이 사이트의 취지와 가장 가까운 것은 "개발을 신속히" 정도가 되지 않을까 합니다. 뭐 그냥 막정했다는 이야기를 이렇게 길게 했습니다.
	</p>

<h3>여긴 누구를 위한 곳인가요?</h3>
	<p>
	개발을 알고 싶어하나 게으른 사람을 위한 곳입니다! 어떤 이유에서건 소프트웨어 개발을 좀 알아야 하는데, 뭐부터 어디서 부터 해야될지는 모르겠는데, 뭔가 차근차근 원론부터 공부하면서 예제 하나하나 따라가면서 착실히 하는 공부는 도저히 적성에 안맞고, 그냥 찌라시 읽듯이 "그런게 있을 수도 있겠구나" 정도의 검증되지 않은 내용들만 있습니다. <br/>
	"아 이따위 정보로는 정말 안되겠다고" 욕이 나오기 시작하면, 그때는 하산할 때입니다. 체계적이며 인터렉티브하기까지한 엄청난 서비스들이 많이 있습니다. 존경합니다. 
	</p>

<h3>개신은 누가 운영하나요?</h3>
	<p>
	운영을 할 것으로 기대하시면 오산입니다. 이제까지의 삶의 패턴으로 봐서 죽어있는 페이지가 될 확률이 90%이상입니다. 바쁘냐구요? 그냥 <strong>동네노는형</strong>입니다. 특히, 입코딩에 있어서 두각을 나타냅니다. 입스타, 입다마도 수준급입니다. 정말 도저히 못봐주겠다 하는 훌륭한 개발자 분이 계시면 언제라도 연락주세요. 함께 노실 수 있습니다.
	</p>

</div>

