<br/>
<h3> 개신닷컴에 오신걸 환영합니다. </h3>
<blockquote>
  <p> 개발을 직접하려고 하시나요? 그러지 마세요. 어차피 사람불러야됩니다.</p>
  <p> 전문가가 되고 싶다구요? 다른 훌륭하고 체계적인 사이트를 추천합니다.</p><br/>
  <h3>그럼 여긴 뭐냐구요?</h3>
  <p> 그림이나 짧은 자료들을 보시고, 단지 '아~ 그런거려니...'라고 하실 수 있다면 만족합니다. <br/>
  아주 부끄러운 질문도 아주 부끄럽데 답해드립니다. <br/>
   혹시 당신은 '이거 다 구라아니야?' 라고 고개를 기웃거리실지도 모르겠습니다. 그러는 당신은 예리하십니다. </p>
</blockquote>

<h4>어쨌거나 저쨌거나</h4><h4>개발에 대한 벼락치기와</h4><h4>빠른 프로토타이핑을 위한</h4><h4>개신닷컴에 오신 것을 환영합니다.</h4>
<h1>Comming Soon !</h1>
<%= link_to "개신이 궁금하면?", about_path, :class=>"btn" %>
