<div class="row-fluid">
<div class="span10 offset1" style="margin-top:20px">
	<h1> Join Us <small>Right now?</small></h1>
	애들은 가라

아래와 같은 분들을 모십니다.

CASE 1
이미 애가 하나나 둘, 종종 셋 정도는 있어요.
안정적이라 불리는 직장에 잘 다니고 계시죠.
뭐 많은 야근과 업무로 삶의 질은 거시기 하지만 남들도 모두 그렇게 사는걸요.

그런데

10년뒤를 생각해보니 답이 없네요.
그리고 이게 내 인생인가? 하는 생각도 드네요.

그냥 막연하신 분들!

CASE 2
정말 궁금해요? 치킨집 말고 뭘 할 수 있는지
5개월 전에 나간 김과장 잘 살고 있는지 궁금해요.

그런 정보를 얻고 싶은 분들..


CASE 3
이미 나와보니 이거 참, 삶이 현실이야.
엑셀속 데이터가 아니라 실제라는 거지.
하루하루가 삶이고 인생이야, 내말을 좀 들어봐

다른 분들에게 이야기를 들려주고 싶은 분들..


인사 담당자는 가입하실 수 없습니다!!!!
 

 <%= link_to "Join Us. Right Now", new_user_registration_path, :class=>"btn btn-danger" %>
</div>
</div>