<div class="row-fluid">
<div class="span10 offset1" style="margin-top:20px">
	<h1> Level Up </h1>

	회원운영 원칙
  [1] 회원은 크게 준회원, 정회원으로 나뉩니다.
  [2] 준회원은 남은자, 정회원은 나간자로 불립니다.
  [3] 특별히 다른건 없습니다. 그냥 기분입니다.


등업방법 (아래중 하나의 방법을 선택하시면 됩니다)
  [1] 자유게시판에 결재받은 사직서를 스캔해서 올린다.
  [2] 부서장과 주먹다툼을 하는 동영상을 올린다.
  [3] 자기 자리에 X싼 사진을 찍어서 올린다.
  [4] 이에 준하는 수준의 이모작 의지를 보여주는 인증샷 


 정회원 혜택
   [1] 농한기나 모내기에 에버랜드 사무실을 함께 사용한다 (참고 http://goo.gl/bj51x )
   [2] 이모작 명함을 무료로 제공 (소장님이 경제적으로 안쪼들릴때까지)
       - 직책은 원하는거 자리 아무거나 사용가능 (eg. 비서, 아태지역총괄장, 지원팀장, COO, 서비스기획그룹, 구주법인장)
   [3] 같이 적극적으로 놀아준다.

</div>
</div>