<div class="row-fluid">
<div class="span8 offset2" style="margin-top:20px">
	<h1>미션</h1>
<p>사실 매우 장난스럽게 시작하고, 불경스러운 사적인 목적으로 만들어졌으며<br/>
불성실하게 관리되고 있는 이 2mozak project에는 사실 숨겨진 원대한 미션이 있습니다.<br/>
(믿거나 말거나)</p>
<br/>
<p>
<h3 style="color:red;">1. 지속가능성</h3>
<ul>
	<li>
공식적으론 55세, 보통은 50세도 채우기 어려운 시점, 지속가능한 경제활동에 대한 보다 궁극적인 솔루션이 필요합니다.</li>
<li>계산기를 조금만 두드려 보시면 답이 나옵니다.</li>
<li>현재 수익모델로는 아주 어렵고 힘든 말년이 예상됩니다. 그 전에 몸이 상해버릴 수도 있습니다.100살까지 지속가능한 여러가지 가능성을 찾아내고 공유하고자 합니다.</li>
</ul>
</p>
<p>
<h3 style="color:red;">2. 다양성</h3>
<ul>
<li>세상이 좀더 다양해 졌으면 좋겠습니다.</li>
<li>다른 사람들이 많아지고, 그들이 서로의 차이와 가치를 인정하고</li>
<li>그 다양한 모든 가치들이 소중해지고</li>
<li>프랜차이즈나, 커피숍, 오피스텔 임대수입 말고도 다양한 시장과 모델과 직업들을 찾아내고 공유하고자 합니다.</li>
</ul>
<br/>

<h3 style="color:red;">3. 적합성</h3>
<ul>
<li>가장 좋아하는 사진 중 하나가 배가 불타는 사진입니다.</li>
<li>뭔말이냐구요? 바다에 저렇게 물이 많아봐야 적합한 곳에 있지 못하면 저 배가 불타버리죠</li>
<li>정수, 핵심, 효율일 수도 있고, 그 사람이 맞는 적재적소에서 능력을 찾아내고 개발하고 발휘하고 그런 정보와 가이드를 (가능할지는 모르겠지만) 해드리고 싶습니다.</li>
<li>보통은 좋아하는 일이 잘하는 일입니다.</li>
</ul>

<p><img src="http://www.2mozak.com/files/attach/images/160/752/a6a010e5421fb5ff0166ba0745cfe3b8.jpg" alt="ship.jpg" width="259" height="194" style="cursor: pointer;" rel="xe_gallery">&nbsp;<br></p>
<p><br></p>
<p><br></p>
<p>그리고 그냥 사람과 사람의 이야기가 좋습니다.</p>
<p>그냥 그렇다구요</p>

</div>
</div>