<footer class="footer">
  <small>
    &copy; 2012 <a href="http://Gaesin.com/">Gaesin</a>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "Contact", '#' %></small></li>
    </ul>
  </nav>
</footer>